name: Run unit tests & check conventions

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-20.04
    container:
      image: "ubuntu:20.04"
    steps:
      - uses: actions/checkout@v2
      - name: Install required dependencies
        run: |
          apt update
          apt install -y sudo
          sudo apt install -y git
          
          sudo apt install -y curl
          # can't install ubuntu's default nodejs version because we would get this error:
          # error @commitlint/config-conventional@17.1.0: The engine "node" is incompatible with this module. Expected version ">=v14". Got "12.22.9"
          curl -sL https://deb.nodesource.com/setup_18.x | sudo -E bash -

          sudo apt install -y nodejs
          npm install @commitlint/config-conventional
          sudo npm install -g yarn
          yarn add --dev jest typescript ts-jest @types/jest
      - name: Print versions
        run: |
          git --version
          node --version
          npm --version
          npx commitlint --version
      - name: Run tests to validate our plugins
        run: yarn jest

  sanitycheck:
    runs-on: ubuntu-20.04
    container:
      image: "ubuntu:20.04"
    steps:
      - name: Install required dependencies
        run: |
          apt update && apt install -y sudo
          sudo apt install -y git
          
          sudo apt install -y curl
          # can't install ubuntu's default nodejs version because we would get this error:
          # error @commitlint/config-conventional@17.1.0: The engine "node" is incompatible with this module. Expected version ">=v14". Got "12.22.9"
          curl -sL https://deb.nodesource.com/setup_18.x | sudo -E bash -

          sudo apt install -y nodejs
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          # needed because of commit-lint, see https://github.com/conventional-changelog/commitlint/issues/3376
          fetch-depth: 0
      # workaround for https://github.com/actions/runner/issues/2033
      - name: ownership workaround
        run: git config --global --add safe.directory '*'
      - name: Install commitlint
        run: npm install @commitlint/config-conventional
      - name: Validate current commit (last commit) with commitlint
        run: npx commitlint --from HEAD~1 --to HEAD --verbose
