name: Run unit tests & check conventions

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install required dependencies
        run: |
          sudo apt install --yes npm
          npm install @commitlint/config-conventional
          yarn add --dev jest typescript ts-jest @types/jest
      - name: Print versions
        run: |
          git --version
          node --version
          npm --version
          npx commitlint --version
      - name: Run tests to validate our plugins
        run: yarn jest

  sanitycheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          # needed because of commit-lint, see https://github.com/conventional-changelog/commitlint/issues/3376
          fetch-depth: 0
      - name: Install dependencies of commitlint
        run: sudo apt install --yes npm && npm install @commitlint/config-conventional
      - name: Validate current commit (last commit) with commitlint
        run: npx commitlint --from HEAD~1 --to HEAD --verbose

